services:
  postgres:
    image: postgres:16-alpine
    container_name: spot-postgres
    environment:
      POSTGRES_USER: spot
      POSTGRES_PASSWORD: spot_password
      POSTGRES_DB: spot_db
    ports:
      - '5433:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U spot -d spot_db']
      interval: 10s
      timeout: 5s
      retries: 5
volumes:
  postgres_data:
  redis_data:
